/* 初始化样式 */
/* 清除边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #f3f5f7;
    font-family: "MicrosoftYaHei";
    font-size: 14px;
}

/* 清除li前面的小圆点 */
ul li,
ol li {
    list-style: none;
}

/* 取消表单的边框和默认点击后有蓝框的样式 */
input,
button {
    border: none;
    outline: none;
}

/* 取消a的下划线 */
a {
    text-decoration: none;
    color: #050505;
}

/* 取消倾斜样式 */
em,
i {
    font-style: normal;
}

/* 图片和文字居中 */
img {
    /* max-width: 100%;
    max-height: 100%; */
    vertical-align: middle;
}

/* 浮动类,后面需要直接调用 */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* 清楚浮动的影响 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}